In [104]:
import pandas as pd
import numpy as np
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.models import BayesianNetwork
from pgmpy.inference import VariableElimination

In [105]:
dataset = 'adult.csv'
df = pd.read_csv(dataset, header = 0)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [106]:
df = df.drop(["fnlwgt", "education.num", "capital.gain", "capital.loss","hours.per.week","native.country"], axis=1)
df.tail()

,age,workclass,education,marital.status,occupation,relationship,race,sex,income
32556,22,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,<=50K
32557,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,<=50K
32558,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,>50K
32559,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,<=50K
32560,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,<=50K

In [107]:
#Here the dataset is not using the default nan string for missing values, instead "?" is used
#Hence we check occurrences of "?" in each column
#Hence we check occurrences of "?" in each column
col_names = df.columns
num_data = df.shape[0]
for c in col_names:
    num_non = df[c].isin(["?"]).sum()
    if num_non > 0:
        print (c)
        print (num_non)
        print ("{0:.2f}%".format(float(num_non) / num_data * 100))
        print ("\n")

workclass
1836
5.64%


occupation
1843
5.66%

In [109]:
#Considering the relative low portion of missing data, we discard rows with missing data
df = df[df["workclass"] != "?"]
df = df[df["occupation"] != "?"]

df.shape

(30718, 9)

In [110]:
#frequency of categorical fields 
category_col =['workclass', 'race', 'education','marital.status', 'occupation',
               'relationship', 'sex', 'income'] 
for c in category_col:
    print (c)
    print (df[c].value_counts())

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Name: workclass, dtype: int64
race
White                 26301
Black                  2909
Asian-Pac-Islander      974
Amer-Indian-Eskimo      286
Other                   248
Name: race, dtype: int64
education
HS-grad         9968
Some-college    6775
Bachelors       5182
Masters         1675
Assoc-voc       1321
11th            1056
Assoc-acdm      1020
10th             831
7th-8th          573
Prof-school      558
9th              463
Doctorate        398
12th             393
5th-6th          303
1st-4th          156
Preschool         46
Name: education, dtype: int64
marital.status
Married-civ-spouse       14339
Never-married             9912
Divorced                  4258
Separated                  959
Widowed                    840
Married-spouse-absent      389
Married-AF-spouse           21
Name: marital.status, dtype: int64
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
relationship
Husband           12704
Not-in-family      7865
Own-child          4525
Unmarried          3271
Wife               1435
Other-relative      918
Name: relationship, dtype: int64
sex
Male      20788
Female     9930
Name: sex, dtype: int64
income
<=50K    23068
>50K      7650
Name: income, dtype: int64

In [111]:
#Here we apply discretisation on column marital_status
df.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['not married','married','married','married',
              'not married','not married','not married'], inplace = True)

In [112]:
#we can convert categorical columns to numerical representations.
for col in category_col:
    b, c = np.unique(df[col], return_inverse=True) 
    df[col] = c

df.head()

,age,workclass,education,marital.status,occupation,relationship,race,sex,income
1,82,2,11,1,3,1,4,0,0
3,54,2,5,1,6,4,4,0,0
4,41,2,15,1,9,3,4,0,0
5,34,2,11,1,7,4,4,0,0
6,38,2,0,1,0,4,4,1,0

In [50]:
bayesNet = BayesianNetwork()
bayesNet.add_node("race")
bayesNet.add_node("age")
bayesNet.add_node("relationship")
bayesNet.add_node("occupation")
bayesNet.add_node("native.country")
bayesNet.add_node("marital.status")
bayesNet.add_node("education")
bayesNet.add_node("sex")
bayesNet.add_node("workclass")
bayesNet.add_node("income")

bayesNet.add_edge("race", "education")
bayesNet.add_edge("education", "occupation")
bayesNet.add_edge("occupation", "income")
bayesNet.add_edge("education", "income")
bayesNet.add_edge("marital.status","relationship")
bayesNet.add_edge("relationship", "income")
bayesNet.add_edge("age", "income")
bayesNet.add_edge("workclass", "income")

In [51]:
mle = MaximumLikelihoodEstimator(bayesNet, df)

In [52]:
from pgmpy.factors.discrete import TabularCPD

In [53]:
age_cpd=TabularCPD('age',72,[[0.0108746],[0.01482],[0.0196937],[0.0208541],[0.0205888],[0.022346],[0.0273191],
                               [0.024932],[0.0264903],[0.0247],[0.0261587],[0.0267887],[0.0256614],[0.0269544],
                               [0.0282143],[0.0261587],[0.0277501],[0.027717],[0.0274518],[0.0282475],[0.0274518],
                               [0.0262251],[0.0260593],[0.025363],[0.0254957],[0.0245673],[0.0246336],[0.0233406],
                               [0.0234069],[0.0235727],[0.0226444],[0.0173397],[0.0184006],[0.0190637],[0.0189311],
                               [0.0150852],[0.0148531],[0.0130628],[0.0127976],[0.0113719],[0.011173],[0.0114051],
                               [0.0110072],[0.00915059],[0.00858696],[0.00706187],[0.0061667],[0.00573569],[0.00450898],
                               [0.00364697],[0.00368013],[0.00298389],[0.00265234],[0.00212188],[0.00179033],[0.00132617],
                               [0.00162456],[0.00125986],[0.00112725],[0.000961475],[0.000663086],[0.00046416],[0.000497315],
                               [0.000530469],[0.000431006],[0.00023208],[0.000165772],[0.000265234],[9.94629e-05],[3.31543e-05],[9.94629e-05],[0.0011604]])

In [18]:
workclass_cpd= TabularCPD('workclass',7,[[0.0312645],[0.0685299],[0.738877],[0.0356077],[0.0828526],[0.0424043],[0.00046416]])

In [19]:
maritalStatus_cpd= TabularCPD('marital.status',2,[[0.479279],[0.520721]])

In [26]:
pd.crosstab(index = df['relationship'], 
            columns=df['marital.status'],
            normalize=True,
            margins=True,
            dropna=True)

marital.status         0         1       All
relationship
0               0.413202  0.000000  0.413202
1               0.006465  0.249685  0.256150
2               0.004807  0.024667  0.029474
3               0.004211  0.143857  0.148067
4               0.003979  0.102513  0.106492
5               0.046615  0.000000  0.046615
All             0.479279  0.520721  1.000000

In [27]:
relationship_cpd= TabularCPD('relationship',6,[[0.413202,0.000000],
                                                  [0.006465,0.249685],
                                                  [0.004807,0.024667],
                                                  [0.004211,0.143857],
                                                  [0.003979,0.102513],
                                                  [0.046615,0.000000]],
                             evidence=['marital.status'], evidence_card=[2])

In [54]:
print(mle.estimate_cpd('race'))

+---------+------------+
| race(0) | 0.00948213 |
+---------+------------+
| race(1) | 0.0296731  |
+---------+------------+
| race(2) | 0.0933957  |
+---------+------------+
| race(3) | 0.00765864 |
+---------+------------+
| race(4) | 0.85979    |
+---------+------------+

In [56]:
race_cpd= TabularCPD('race',5,[[0.00948213],[0.0296731],[0.0933957],[0.00765864],[0.85979]])

In [57]:
pd.crosstab(index = df['education'], 
            columns=df['race'],
            normalize=True,
            margins=True,
            dropna=True)

race              0         1         2         3         4       All
education
0          0.000464  0.000365  0.003945  0.000265  0.022147  0.027187
1          0.000431  0.000597  0.004244  0.000232  0.029242  0.034746
2          0.000166  0.000133  0.001691  0.000365  0.010145  0.012499
3          0.000099  0.000099  0.000431  0.000298  0.004078  0.005006
4          0.000066  0.000497  0.000597  0.000365  0.008023  0.009548
5          0.000232  0.000332  0.001625  0.000497  0.015781  0.018467
6          0.000099  0.000265  0.002553  0.000265  0.011902  0.015085
7          0.000232  0.000895  0.003315  0.000265  0.028712  0.033420
8          0.000530  0.001160  0.003581  0.000199  0.037862  0.043333
9          0.000663  0.008355  0.009979  0.000763  0.147470  0.167230
10         0.000066  0.000862  0.000265  0.000033  0.011206  0.012433
11         0.003846  0.006399  0.035177  0.002288  0.278529  0.326238
12         0.000166  0.002685  0.002586  0.000166  0.048339  0.053942
13         0.000000  0.000199  0.000133  0.000066  0.001094  0.001492
14         0.000066  0.001160  0.000497  0.000133  0.016113  0.017970
15         0.002354  0.005669  0.022777  0.001459  0.189145  0.221404
All        0.009482  0.029673  0.093396  0.007659  0.859790  1.000000

In [58]:
education_cpd = TabularCPD('education',16,[[0.000464,0.000365,0.003945,0.000265,0.022147],
                                           [0.000431,0.000597,0.004244,0.000232,0.029242],
                                           [0.000166,0.000133,0.001691,0.000365,0.010145],
                                           [0.000099,0.000099,0.000431,0.000298,0.004078],
                                           [0.000066,0.000497,0.000597,0.000365,0.008023],
                                           [0.000232,0.000332,0.001625,0.000497,0.015781],
                                           [0.000099,0.000265,0.002553,0.000265,0.011902],
                                           [0.000232,0.000895,0.003315,0.000265,0.028712],
                                           [0.000530,0.001160,0.003581,0.000199,0.037862],
                                           [0.000663,0.008355,0.009979,0.000763,0.147470],
                                           [0.000066,0.000862,0.000265,0.000033,0.011206],
                                           [0.003846,0.006399,0.035177,0.002288,0.278529],
                                           [0.000166,0.002685,0.002586,0.000166,0.048339],
                                           [0.000000,0.000199,0.000133,0.000066,0.001094],
                                           [0.000066,0.001160,0.000497,0.000133,0.016113],
                                           [0.002354,0.005669,0.022777,0.001459,0.189145]],
                           evidence=['race'], evidence_card=[5])

In [73]:
p=df.groupby(['education', 'race'])['occupation'].value_counts(normalize=True).reset_index(name='prob4')
pd.set_option('display.max_rows', None)
print(p)

     education  race  occupation     prob4
0            0     0           7  0.285714
1            0     0          13  0.214286
2            0     0           2  0.142857
3            0     0           4  0.142857
4            0     0           0  0.071429
5            0     0           3  0.071429
6            0     0           5  0.071429
7            0     1           6  0.363636
8            0     1           7  0.272727
9            0     1           2  0.090909
10           0     1          10  0.090909
11           0     1          11  0.090909
12           0     1          13  0.090909
13           0     2           7  0.344538
14           0     2           6  0.159664
15           0     2          13  0.117647
16           0     2           2  0.109244
17           0     2           0  0.084034
18           0     2           5  0.058824
19           0     2          11  0.058824
20           0     2           4  0.025210
21           0     2           8  0.016807
22           0     2           3  0.008403
23           0     2           9  0.008403
24           0     2          10  0.008403
25           0     3           2  0.250000
26           0     3           5  0.250000
27           0     3          11  0.250000
28           0     3           0  0.125000
29           0     3           9  0.125000
30           0     4           2  0.217066
31           0     4           7  0.217066
32           0     4           6  0.116766
33           0     4          11  0.104790
34           0     4          13  0.097305
35           0     4           5  0.091317
36           0     4           4  0.056886
37           0     4           0  0.038922
38           0     4           3  0.032934
39           0     4           9  0.010479
40           0     4           8  0.005988
41           0     4          10  0.005988
42           0     4          12  0.004491
43           1     0           7  0.307692
44           1     0           5  0.153846
45           1     0          13  0.153846
46           1     0           0  0.076923
47           1     0           2  0.076923
48           1     0           6  0.076923
49           1     0           9  0.076923
50           1     0          11  0.076923
51           1     1           0  0.166667
52           1     1           5  0.166667
53           1     1           6  0.166667
54           1     1           7  0.166667
55           1     1          11  0.166667
56           1     1           2  0.111111
57           1     1          13  0.055556
58           1     2           7  0.429688
59           1     2           6  0.140625
60           1     2           5  0.101562
61           1     2          11  0.085938
62           1     2           2  0.078125
63           1     2           0  0.054688
64           1     2          13  0.046875
65           1     2           9  0.023438
66           1     2           8  0.015625
67           1     2           4  0.007812
68           1     2          10  0.007812
69           1     2          12  0.007812
70           1     3           6  0.428571
71           1     3           7  0.285714
72           1     3           5  0.142857
73           1     3          11  0.142857
74           1     4           7  0.197279
75           1     4           2  0.181406
76           1     4          11  0.140590
77           1     4           5  0.116780
78           1     4          13  0.094104
79           1     4           6  0.083900
80           1     4           0  0.063492
81           1     4           4  0.040816
82           1     4           3  0.037415
83           1     4           9  0.018141
84           1     4           8  0.013605
85           1     4          10  0.006803
86           1     4          12  0.005669
87           2     0           5  0.600000
88           2     0           0  0.200000
89           2     0           4  0.200000
90           2     1           3  0.250000
91           2     1           9  0.250000
92           2     1          11  0.250000
93           2     1          13  0.250000
94           2     2           7  0.235294
95           2     2          13  0.156863
96           2     2           0  0.137255
97           2     2          11  0.117647
98           2     2           2  0.098039
99           2     2           5  0.078431
100          2     2           6  0.078431
101          2     2           4  0.039216
102          2     2          10  0.039216
103          2     2           8  0.019608
104          2     3           7  0.272727
105          2     3           2  0.181818
106          2     3           6  0.181818
107          2     3           4  0.090909
108          2     3           5  0.090909
109          2     3           8  0.090909
110          2     3          11  0.090909
111          2     4           7  0.222222
112          2     4           2  0.156863
113          2     4          11  0.117647
114          2     4           5  0.094771
115          2     4           0  0.091503
116          2     4           6  0.091503
117          2     4          13  0.091503
118          2     4           3  0.039216
119          2     4           4  0.039216
120          2     4           9  0.026144
121          2     4          10  0.009804
122          2     4          12  0.009804
123          2     4           8  0.006536
124          2     4           1  0.003268
125          3     0           3  0.333333
126          3     0           6  0.333333
127          3     0           7  0.333333
128          3     1           7  0.666667
129          3     1           2  0.333333
130          3     2           7  0.384615
131          3     2           8  0.230769
132          3     2           2  0.076923
133          3     2           4  0.076923
134          3     2           5  0.076923
135          3     2           9  0.076923
136          3     2          13  0.076923
137          3     3           7  0.555556
138          3     3           2  0.222222
139          3     3           4  0.222222
140          3     4           7  0.203252
141          3     4           6  0.178862
142          3     4           2  0.154472
143          3     4           4  0.121951
144          3     4           5  0.121951
145          3     4           8  0.065041
146          3     4          11  0.056911
147          3     4          13  0.048780
148          3     4           9  0.024390
149          3     4           3  0.016260
150          3     4          10  0.008130
151          4     0           6  0.500000
152          4     0          13  0.500000
153          4     1           6  0.266667
154          4     1           7  0.266667
155          4     1           4  0.133333
156          4     1           5  0.066667
157          4     1           8  0.066667
158          4     1          11  0.066667
159          4     1          12  0.066667
160          4     1          13  0.066667
161          4     2           7  0.333333
162          4     2           4  0.111111
163          4     2           5  0.111111
164          4     2           6  0.111111
165          4     2           8  0.111111
166          4     2          13  0.111111
167          4     2           2  0.055556
168          4     2          11  0.055556
169          4     3           6  0.272727
170          4     3           7  0.272727
171          4     3           2  0.181818
172          4     3           5  0.090909
173          4     3           8  0.090909
174          4     3          13  0.090909
175          4     4           7  0.194215
176          4     4           6  0.165289
177          4     4           2  0.157025
178          4     4           5  0.144628
179          4     4           4  0.132231
180          4     4          13  0.090909
181          4     4           8  0.041322
182          4     4          11  0.037190
183          4     4           0  0.024793
184          4     4           3  0.004132
185          4     4           9  0.004132
186          4     4          10  0.004132
187          5     0           7  0.285714
188          5     0          13  0.285714
189          5     0           2  0.142857
190          5     0           3  0.142857
191          5     0           6  0.142857
192          5     1           7  0.600000
193          5     1           2  0.200000
194          5     1           6  0.200000
195          5     2           7  0.306122
196          5     2           6  0.224490
197          5     2           2  0.102041
198          5     2           4  0.102041
199          5     2          13  0.102041
200          5     2           5  0.081633
201          5     2           8  0.040816
202          5     2           9  0.040816
203          5     3           6  0.533333
204          5     3           4  0.133333
205          5     3           5  0.133333
206          5     3           2  0.066667
207          5     3           7  0.066667
208          5     3          11  0.066667
209          5     4           2  0.214286
210          5     4           6  0.147059
211          5     4           7  0.140756
212          5     4           4  0.130252
213          5     4          13  0.111345
214          5     4           5  0.084034
215          5     4          11  0.058824
216          5     4           3  0.035714
217          5     4           0  0.023109
218          5     4          10  0.018908
219          5     4           8  0.012605
220          5     4           9  0.012605
221          5     4          12  0.010504
222          6     0           2  0.333333
223          6     0           4  0.333333
224          6     0           7  0.333333
225          6     1           6  0.375000
226          6     1           5  0.250000
227          6     1           0  0.125000
228          6     1           3  0.125000
229          6     1           7  0.125000
230          6     2           7  0.285714
231          6     2           6  0.181818
232          6     2           5  0.116883
233          6     2           4  0.103896
234          6     2           2  0.077922
235          6     2           8  0.064935
236          6     2          13  0.051948
237          6     2          11  0.038961
238          6     2           0  0.025974
239          6     2          10  0.025974
240          6     2           3  0.012987
241          6     2           9  0.012987
242          6     3           2  0.375000
243          6     3           7  0.250000
244          6     3          11  0.250000
245          6     3           6  0.125000
246          6     4           2  0.231198
247          6     4           7  0.200557
248          6     4           6  0.158774
249          6     4           5  0.105850
250          6     4          13  0.086351
251          6     4          11  0.075209
252          6     4           4  0.052925
253          6     4           0  0.030641
254          6     4           3  0.027855
255          6     4           8  0.013928
256          6     4           9  0.005571
257          6     4          10  0.005571
258          6     4          12  0.005571
259          7     0           0  0.285714
260          7     0           2  0.142857
261          7     0           4  0.142857
262          7     0           6  0.142857
263          7     0           7  0.142857
264          7     0           9  0.142857
265          7     1           0  0.296296
266          7     1           9  0.185185
267          7     1           3  0.148148
268          7     1           7  0.111111
269          7     1           2  0.074074
270          7     1          11  0.074074
271          7     1           4  0.037037
272          7     1          10  0.037037
273          7     1          12  0.037037
274          7     2           0  0.270000
275          7     2           9  0.130000
276          7     2          11  0.120000
277          7     2           7  0.110000
278          7     2           3  0.090000
279          7     2          12  0.060000
280          7     2           6  0.050000
281          7     2          13  0.050000
282          7     2           2  0.040000
283          7     2           5  0.040000
284          7     2          10  0.030000
285          7     2           4  0.010000
286          7     3          11  0.375000
287          7     3           2  0.250000
288          7     3           0  0.125000
289          7     3           7  0.125000
290          7     3          13  0.125000
291          7     4           0  0.176674
292          7     4           3  0.150115
293          7     4          11  0.144342
294          7     4           9  0.135104
295          7     4           2  0.121247
296          7     4          12  0.075058
297          7     4           7  0.071594
298          7     4          10  0.034642
299          7     4           6  0.031178
300          7     4          13  0.024249
301          7     4           5  0.020785
302          7     4           4  0.012702
303          7     4           8  0.002309
304          8     0           2  0.187500
305          8     0           3  0.187500
306          8     0           7  0.187500
307          8     0          13  0.125000
308          8     0           4  0.062500
309          8     0           6  0.062500
310          8     0           9  0.062500
311          8     0          10  0.062500
312          8     0          11  0.062500
313          8     1           0  0.200000
314          8     1           2  0.200000
315          8     1           7  0.142857
316          8     1           3  0.114286
317          8     1           9  0.114286
318          8     1          12  0.085714
319          8     1          11  0.057143
320          8     1           6  0.028571
321          8     1          10  0.028571
322          8     1          13  0.028571
323          8     2           0  0.212963
324          8     2           7  0.138889
325          8     2           2  0.120370
326          8     2          12  0.120370
327          8     2           3  0.111111
328          8     2           9  0.083333
329          8     2          11  0.074074
330          8     2          10  0.055556
331          8     2           6  0.037037
332          8     2           5  0.027778
333          8     2           8  0.009259
334          8     2          13  0.009259
335          8     3           9  0.333333
336          8     3           0  0.166667
337          8     3           6  0.166667
338          8     3          11  0.166667
339          8     3          12  0.166667
340          8     4           2  0.197023
341          8     4           9  0.134851
342          8     4           0  0.117338
343          8     4           3  0.114711
344          8     4          12  0.095447
345          8     4          11  0.080560
346          8     4           7  0.076182
347          8     4           6  0.048161
348          8     4           4  0.044658
349          8     4          10  0.035026
350          8     4          13  0.031524
351          8     4           5  0.021891
352          8     4           8  0.002627
353          9     0           9  0.450000
354          9     0           3  0.150000
355          9     0           0  0.100000
356          9     0           2  0.100000
357          9     0           6  0.050000
358          9     0           7  0.050000
359          9     0          11  0.050000
360          9     0          12  0.050000
361          9     1           3  0.222222
362          9     1           9  0.222222
363          9     1           0  0.186508
364          9     1           7  0.103175
365          9     1          11  0.103175
366          9     1          12  0.067460
367          9     1           2  0.051587
368          9     1           6  0.015873
369          9     1           4  0.007937
370          9     1           5  0.007937
371          9     1          10  0.007937
372          9     1          13  0.003968
373          9     2           9  0.289037
374          9     2           3  0.215947
375          9     2           0  0.139535
376          9     2          11  0.122924
377          9     2          10  0.076412
378          9     2           7  0.039867
379          9     2          12  0.033223
380          9     2           2  0.029900
381          9     2           6  0.023256
382          9     2           5  0.016611
383          9     2          13  0.013289
384          9     3           9  0.391304
385          9     3           3  0.173913
386          9     3           6  0.130435
387          9     3           7  0.130435
388          9     3          11  0.086957
389          9     3          12  0.043478
390          9     3          13  0.043478
391          9     4           9  0.292266
392          9     4           3  0.270908
393          9     4          11  0.163444
394          9     4           0  0.091502
395          9     4           2  0.044065
396          9     4          12  0.043615
397          9     4           7  0.028777
398          9     4           4  0.016862
399          9     4          10  0.016862
400          9     4          13  0.011016
401          9     4           6  0.009892
402          9     4           5  0.009218
403          9     4           8  0.001349
404          9     4           1  0.000225
405         10     0           9  1.000000
406         10     1           9  0.846154
407         10     1           3  0.115385
408         10     1          12  0.038462
409         10     2           9  1.000000
410         10     3           9  1.000000
411         10     4           9  0.795858
412         10     4           3  0.150888
413         10     4          11  0.023669
414         10     4           0  0.011834
415         10     4           2  0.005917
416         10     4           4  0.002959
417         10     4           6  0.002959
418         10     4          12  0.002959
419         10     4          13  0.002959
420         11     0           2  0.189655
421         11     0          13  0.120690
422         11     0           7  0.112069
423         11     0           5  0.103448
424         11     0           0  0.094828
425         11     0          11  0.094828
426         11     0           3  0.086207
427         11     0           6  0.060345
428         11     0           9  0.051724
429         11     0          10  0.043103
430         11     0           4  0.034483
431         11     0           1  0.008621
432         11     1           7  0.212435
433         11     1           2  0.129534
434         11     1           0  0.124352
435         11     1          11  0.119171
436         11     1           6  0.093264
437         11     1           3  0.067358
438         11     1          13  0.062176
439         11     1           4  0.051813
440         11     1           5  0.041451
441         11     1           9  0.031088
442         11     1          12  0.031088
443         11     1          10  0.025907
444         11     1           8  0.010363
445         11     2           7  0.245052
446         11     2           0  0.149859
447         11     2           6  0.135721
448         11     2           2  0.110273
449         11     2          13  0.081056
450         11     2          11  0.080113
451         11     2           5  0.079171
452         11     2           3  0.035815
453         11     2          10  0.028275
454         11     2           9  0.018850
455         11     2           4  0.016023
456         11     2          12  0.011310
457         11     2           8  0.008483
458         11     3           6  0.188406
459         11     3           7  0.159420
460         11     3          13  0.130435
461         11     3           0  0.115942
462         11     3           2  0.115942
463         11     3           4  0.072464

In [75]:
occupation_cpd = TabularCPD('occupation',16,[[0.285714,0.214286,0.142857,0.142857,0.071429,0.071429,0.071429,0.363636,0.272727,0.090909,0.090909,0.090909,0.090909,0.344538,0.159664,0.117647],
                                            [0.109244,0.084034,0.058824,0.058824,0.025210,0.016807,0.008403,0.008403,0.008403,0.250000,0.250000,0.250000,0.125000,0.125000,0.217066,0.217066],
                                            [0.116766,0.104790,0.097305,0.091317,0.056886,0.038922,0.032934,0.010479,0.005988,0.005988,0.004491,0.307692,0.153846,0.153846,0.076923,0.076923],
                                            [0.076923,0.076923,0.076923,0.166667,0.166667,0.166667,0.166667,0.166667,0.111111,0.055556,0.429688,0.140625,0.101562,0.085938,0.078125,0.054688],
                                            [0.046875,0.023438,0.015625,0.007812,0.007812,0.007812,0.428571,0.285714,0.142857,0.142857,0.197279,0.181406,0.140590,0.116780,0.094104,0.083900],
                                            [0.063492,0.040816,0.037415,0.018141,0.013605,0.006803,0.005669,0.600000,0.200000,0.200000,0.250000,0.250000,0.250000,0.250000,0.235294,0.156863],
                                            [0.137255,0.117647,0.098039,0.078431,0.078431,0.039216,0.039216,0.019608,0.272727,0.181818,0.181818,0.090909,0.090909,0.090909,0.090909,0.222222],
                                            [0.156863,0.117647,0.094771,0.091503,0.091503,0.091503,0.039216,0.039216,0.026144,0.009804,0.009804,0.006536,0.003268,0.333333,0.333333,0.333333],
                                            [0.285714,0.214286,0.142857,0.142857,0.071429,0.071429,0.071429,0.363636,0.272727,0.090909,0.090909,0.090909,0.090909,0.344538,0.159664,0.117647],
                                            [0.109244,0.084034,0.058824,0.058824,0.025210,0.016807,0.008403,0.008403,0.008403,0.250000,0.250000,0.250000,0.125000,0.125000,0.217066,0.217066],
                                            [0.116766,0.104790,0.097305,0.091317,0.056886,0.038922,0.032934,0.010479,0.005988,0.005988,0.004491,0.307692,0.153846,0.153846,0.076923,0.076923],
                                            [0.076923,0.076923,0.076923,0.166667,0.166667,0.166667,0.166667,0.166667,0.111111,0.055556,0.429688,0.140625,0.101562,0.085938,0.078125,0.054688],
                                            [0.046875,0.023438,0.015625,0.007812,0.007812,0.007812,0.428571,0.285714,0.142857,0.142857,0.197279,0.181406,0.140590,0.116780,0.094104,0.083900],
                                            [0.063492,0.040816,0.037415,0.018141,0.013605,0.006803,0.005669,0.600000,0.200000,0.200000,0.250000,0.250000,0.250000,0.250000,0.235294,0.156863],
                                            [0.137255,0.117647,0.098039,0.078431,0.078431,0.039216,0.039216,0.019608,0.272727,0.181818,0.181818,0.090909,0.090909,0.090909,0.090909,0.222222],
                                            [0.156863,0.117647,0.094771,0.091503,0.091503,0.091503,0.039216,0.039216,0.026144,0.009804,0.009804,0.006536,0.003268,0.333333,0.333333,0.333333]],
                                             evidence=['education'], evidence_card=[16])

In [92]:
part_10 = df.sample(frac = 0.1)

In [77]:
bayesNet.add_cpds(workclass_cpd,maritalStatus_cpd,race_cpd,relationship_cpd,education_cpd,age_cpd,occupation_cpd)

In [90]:
model= BayesianNetwork([('education','income'),('age','income'),('workclass','income'),('relationship','income')])

In [99]:
len(df['education'].unique())

16

In [100]:
len(df['age'].unique())

72

In [101]:
len(df['workclass'].unique())

7

In [102]:
len(df['relationship'].unique())

6

In [91]:
model.fit(df,estimator=MaximumLikelihoodEstimator)

In [93]:
df_infer = VariableElimination(model)

In [94]:
q1=df_infer.query(variables=['income'],evidence={'age':90})
print(q1)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

+-----------+---------------+
| income    |   phi(income) |
+===========+===============+
| income(0) |        0.6686 |
+-----------+---------------+
| income(1) |        0.3314 |
+-----------+---------------+

In [95]:
q2=df_infer.query(variables=['income'],evidence={'education':3})
print(q2)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

+-----------+---------------+
| income    |   phi(income) |
+===========+===============+
| income(0) |        0.6483 |
+-----------+---------------+
| income(1) |        0.3517 |
+-----------+---------------+

In [98]:
q2=df_infer.query(variables=['income'],evidence={'workclass':0})
print(q2)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

+-----------+---------------+
| income    |   phi(income) |
+===========+===============+
| income(0) |        0.5674 |
+-----------+---------------+
| income(1) |        0.4326 |
+-----------+---------------+

In [97]:
q2=df_infer.query(variables=['income'],evidence={'relationship':4})
print(q2)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

+-----------+---------------+
| income    |   phi(income) |
+===========+===============+
| income(0) |        0.8169 |
+-----------+---------------+
| income(1) |        0.1831 |
+-----------+---------------+